[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
Flask = "*"
gunicorn = "*"
daiquiri = "*"
prometheus_client = "*"
PyGithub = "*"
openshift = "*"
kubernetes = "*"


[dev-packages]

pytest = "*"
pylint = "*"
"autopep8" = "*"
behave = "*"
PyHamcrest = "*"
